.header{
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    position: relative;
    justify-content: center;
    flex-direction: column;
    background-color: #f2f2f2;
    z-index: 0;
    overflow: hidden;
  }